@using SistemaNotasMVC.Models
@model PaisesModel
@{
    ViewBag.Title = "Paises";
}

<h2>Paises </h2>

<a href="~/Paises/Create" class="btn btn-primary">Nuevo </a>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre Pais</th>
            <th scope="col">Lenguaje Pais</th>
            <th scope="col">Creado Pais</th>
            <th scope="col">Modificado Pais</th>
            <th scope="col" colspan="2">Opciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Paises)
        {
        <tr>
            <td>@item.PAId</td>
            <td>@item.PAName</td>
            <td>@item.PALanguage</td>
            <td>@item.PACreate</td>
            <td>@item.PAModified</td>
            <td width="100px"> <a href="/Paises/Edit/@item.PAId" class="btn btn-primary">Editar </a> </td>
            <td width="100px"><a href="/Paises/Delete/@item.PAId" class="btn btn-danger">Eliminar </a></td>
        </tr>
        }
    </tbody>
</table>
